extends layout.pug 

block content
        section#content 
            h2 Welcome, #{name}!
            
            form(action = '/goodbye', method='post')
                label Click here to say goodbye           
                button(type='submit' name='goodbye') Goodbye
            
        